---
---

@import "{{ site.theme }}";

.page-header {
    background: url("../Chicago_Flag.png") no-repeat center/contain;
    background-size: contain
};

.row {
    display: flex;
};

.column {
    flex: 50%;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.project-tagline {
    opacity: 1;
}
