---
---

@import "{{ site.theme }}";

.page-header {
    background: url("../Chicago_Flag.png") no-repeat center/cover;
    color: black;
    min-width: 64em;
};

.row {
    display: flex;
};

.column {
    flex: 50%;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.project-tagline {
    opacity: 1;
}
